<ng-container *ngIf="note">

  <h1 mat-dialog-title>
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput [(ngModel)]="note.title">
    </mat-form-field>
  </h1>
  <div mat-dialog-content >
  <div class="flex-col d-flex">
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="note.summary"></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Start Day</mat-label>
      <input matInput floatLabel="always" type="number" class="example-right-align" (keyup)="editDay($event , true)" [(ngModel)]="note.startDate.split('/')[0]">
      <span matSuffix>/1</span>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>End Day</mat-label>
      <input matInput floatLabel="always" type="number" class="example-right-align" (keyup)="editDay($event , false)" [ngModel]="note.endDate.split('/')[0]">
      <span matSuffix>/1</span>
    </mat-form-field>
  </div>
  </div>
  <div mat-dialog-actions class="jus-center">
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="note" cdkFocusInitial>Save</button>
  </div>
</ng-container>
