.day-box {
  position: relative;
}
.tab-box {
  width: 100%;
}
.mat-grid-list{
  width: 100%;
}
.mat-grid-tile {
  border: 1px solid;
}
::ng-deep.mat-grid-tile-content{
  align-items: flex-start!important;
}
.label-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.label-holder {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  color: #fff;
}
.front-bg {
  background-color: green;
}.back-bg {
  background-color: red;
}.security-bg {
  background-color: blue;
}
.tile-wrapper {
  width: 100%;
}
@media (max-width:961px)  {
  .label-holder {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  .label-container {
    flex-direction: column;
  }
  .tile-wrapper {
    display: flex;
    flex-direction: row;
  }
}
