/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

$custom-typography: mat.define-typography-config(
  $font-family: 'DM Sans'
);
@include mat.core($custom-typography);
html, body { height: 100%; }
body { margin: 0; font-family: 'DM Sans', sans-serif; }
.d-flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.jus-center {
  display: flex;
  justify-content: center;
}
.jus-around {
  display: flex;
  justify-content: space-around;
}
.jus-between {
  display: flex;
  justify-content: space-between;
}
.w-100{
  width: 100%;
}
.al-center{
  align-items: center;
}
$frontEndColor : #316879;
$backEndColor :#f47a60;
$securityColor : #7fe7dc;
