@import "src/styles";
.example-card {
  max-width: 329px;
  margin: 7px 9px;
  background: #65c9ff0d;
  color: #484848;
  &:hover {
    cursor: pointer;
  }
}
.head {
  .chips{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 2px;
    &-frontEnd {
      background: $frontEndColor;
    }
    &-backEnd {
      background: $backEndColor;
    }
    &-security {
      background: $securityColor;
    }
  }
}
